<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои резюме</title>
    <link rel="stylesheet" href="assets/css/style_common.css">
    <link rel="stylesheet" href="assets/css/style_profile-cv.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <%- include('partials/header') %>
            
            <main>
                <section class="profile-cv-section">
                    <h3>Мои заявки</h3>
                    <div id="cvList" class="cv-list">
                        <% resumes.forEach(function(resume) { %>
                            <div class="resume" data-salary="<%= resume.expected_salary %>" data-skills="<%= resumeSkills.filter(skill => skill.vacancy_id === vacancy.vacancy_id).map(skill => skill.skill_name).join(',') %>">
                                <h3><%= vacancy.title %></h3>
                                <p>Фамилия: <%= user.last_name %></p>
                                <p>Имя: <%= user.first_name %></p>
                                <p>Образование: <%= user.education %></p>   
                                <div id="skillsFields">
                                    <label for="skills">Нужные дисциплины:</label>
                                    <div class="checkbox-list" id="checkboxList">
                                        <label><input type="checkbox" value="Dota 2"> Dota 2</label><br>
                                        <label><input type="checkbox" value="CS2"> CS2</label><br>
                                        <label><input type="checkbox" value="Rainbow Six Siege"> Rainbow Six Siege</label><br>
                                        <label><input type="checkbox" value="League of Legends"> League of Legends</label><br>
                                        <label><input type="checkbox" value="Apex Leagends"> Apex Leagends</label><br>
                                        <label><input type="checkbox" value="Valorant"> Valorant</label><br>
                                        <label><input type="checkbox" value="Streat Fighter"> Streat Fighter</label><br>
                                        <label><input type="checkbox" value="MLBB"> MLBB</label><br>
                                        <label><input type="checkbox" value="PUBG: Buttlegrunds"> PUBG: Buttlegrunds</label><br>
                                        <label><input type="checkbox" value="Overwatch"> Overwatch</label><br>
                                        <label><input type="checkbox" value="Marvel Rivals"> Marvel Rivals</label><br>
                                        <label><input type="checkbox" value="Мир танков"> Мир танков</label><br>
                                        <label><input type="checkbox" value="StarCraft 2"> StarCraft 2</label><br>
                                        <label><input type="checkbox" value="Halo"> Halo</label><br>
                                        <label><input type="checkbox" value="Clash Royal"> Clash Royal</label><br>
                                        <label><input type="checkbox" value="Clash of Clans"> Clash of Clans</label><br>
                                        <label><input type="checkbox" value="Warface"> Warface</label><br>
                                        <label><input type="checkbox" value="Standoff 2"> Standoff 2</label><br>
                                        <label><input type="checkbox" value="Brawl Stars"> Brawl Stars</label><br>
                                        <label><input type="checkbox" value="Free Fire"> Free Fire</label><br>
                                    </div>
                                    <div id="selectedSkills">
                                        <label>Выбранные дисциплины:</label>
                                        <div id="selectedSkillsList"></div>
                                    </div>
                                </div>
                                <% vacancySkills.filter(skill => skill.vacancy_id === vacancy.vacancy_id).forEach(function(skill) { %>
                                    <p><%= skill.skill_name %></p>
                                <% }) %>
                                <div class="extended-description" style="display: none;">
                                    <p>Расширенное описание:</p>
                                    <p><%= vacancy.extended_description || 'Не указано' %></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    
                </section>
            </main>
        </div>
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>